@import '../../shared/styles/globals.css';

/* Desktop-uploader-specific Tailwind sources */
@source "./**/*.{js,ts,jsx,tsx}";
@source "../../shared/**/*.{js,ts,jsx,tsx}";

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

/* @supports (-webkit-touch-callout: none) { */
/*   body { */
/*     padding-top: 24px; */
/*   } */
/* } */
